<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configurations>
	<configuration>
		<enabled>On</enabled>
		<title>Chuckwalla Web Interface Module</title>
		<version></version>
		<name>Bot</name>
		<authors>
			<author>David Zülke</author>
			<author>Ross Lawley</author>
		</authors>
		<homepage></homepage>
		<update_url></update_url>
		<description></description>
	</configuration>
</configurations>