<?php

class %%MODULE%%_%%ACTION_NAME%%Action extends ChuckwallaWebBaseAction
{
	// public function executeRead(AgaviRequestDataHolder $rd)
	// {
	// }
	
	// public function executeWrite(AgaviRequestDataHolder $rd)
	// {
	// }
}

?>