html, body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* do we use? */
table{border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}
ol,ul {list-style:none;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
/* if not get rid :)*/

body {
	background-color:#FFFFFF;
	font-family: 'Trebuchet MS', Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 62.5%; /* http://www.clagnut.com/blog/348/ */
	line-height: 1em; /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
	color: #000;
}

a {
	text-decoration:underline;
}
a:link {
	color:#0033CC;
}
a:visited {
	color:#0033CC;
}
a:hover {
	background-color:#3300CC;
	color:#FFFFFF;
	text-decoration:none;
}

p {
	font-size:1.2em;
	line-height:1.6em;
}

h1 {
	color:#333333;
	font-size:2em;
	font-weight:bold;
	padding-left: 0.5em;
}

h2 {
	color:#333333;
	font-size:1.4em;
	margin:20px 0px 5px 0px;
}

h3 {
	color:#666666;
	font-size:1.4em;
	margin:20px 0px;
}

.highlight {
	background-color:#FFFFCC;
}

.bigger {
	font-size:1.2em;
}

.red {
	color:#CC0000;
}
.blue {
	color:#0066CC;
}
.green {
	color:#339900;
}

.transparent50 {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}