body {
	background-image: url(../images/carpet.gif);
}

/* Header */
#header {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	line-height: 2.9em;
	height: 2.9em;
	text-align:left;
	border-bottom: 0.1em solid #DDD;
	z-index: 10;
}

#menu {
	float: right;
	z-index: 10;
	position: relative;
}
#menu ul {
	font-size:0.8em;
	line-height:1.1em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-top:0.4em;
	padding:0em;
}
#menu li {
	float:left;
	margin:0em 1em 0em 0em;
}
#menu a {
	background:#8C8C8C;
	border-color:#808080;
	border-style:none solid;
	border-width:medium 0.1em;
	color:#E6FFCC;
	font-size: 1.2em;
	display:block;
	float:left;
	font-weight:bold;
	padding:0.7em 2em;
	text-decoration:none;
}
#menu a:hover {
	color:#000000;
	background-color:#555555;
	border-color:#555555;
}
#menu a {
	float:none;
}
#menu #current {
}
#menu #current a {
	color:#FFFFFF;
}

/* End Header */

/* Content Block */
#content {
	position:absolute;
	top:3em;
	bottom:0;
	left:0em;
	right: 0em;
}
/* End Content Block */

/* Sidebar Block */
#sidebar {
	position:absolute;
	top:0em;
	bottom:2em;
	left:0em;
	width:14.9em;
	border-right: 0.1em solid #DDD;
	background-color: #E5EDF7;
}

#sidebar li div { 
	background-color: #A0B1C9;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	height:200%;
}
#sidebar .toggleNames .channel {
	background-image:url(../images/icons/bullet_arrow_up.png);
}
/* End Sidebar Block */

/* Room Title Block */
#roomTitle {
	position:absolute;
	top:0em;
	padding:0 2em;
	height: 3em;
	left:0em;
	right: 0em;
	overflow: hidden; 
	z-index: 10;
	text-align: center;
	font-style: italic;
	color:#666;
	line-height:1.5;
}

#roomTitle.fullview {
	height: auto;
	background-image:url(../images/icons/bullet_arrow_up.png);
}

/* End Room Title Block */

/* Center / Core */
#core {
	position: absolute;
	top: 0em;
	bottom: 0;
	left: 15em;
	right: 0em;
	overflow:auto;
}
/* End Center / Core */

/* Messages Block */
#messages {
	position: absolute;
	bottom:1.6em;
	top:2.5em; /* 3 / 1.2 */
	left: 0em;
	right: 0em;
	overflow:auto;
	font-size:120%;
	line-height:1.2em;
	background-image: url(../images/agavi.png);
	background-position: right bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #FFF;
}


#messages tr.highlight {
	background-color:#FFC;
}

#messages tr.event {
	background-color: #E5EDF7;
}

#messages td {
	padding: 0.1em 0.2em;
	vertical-align: top;
}

#messages td.name {
	font-weight: bold;
	text-align: right;
}

#messages tr.self td.name a {
	color: #900;
}

#messages td.name:after {
	content: ': ';
}

#messages tr.action td.name:after, #messages tr.event td.name:after {
	content: '';
}

#messages tr.action td.message, #messages tr.action td.name {
	font-style: italic;
}

#messages tr.event td.message, #messages tr.event td.name {
	font-style: bold;
}

#messages td.time {
	font-size:80%;
	color: #999;
}

/* End Messages Block */

/* Footer */
#footer { 
	position: absolute; 
	height: 1.9em;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 0.1em solid #DDD;
	line-height:1.9em;
	color:#AAA;
	text-align:center;
}

/* End Footer */

/* Forms */
form {
	padding: 1em;
}

fieldset {
	clear:	 both;
	border:	 none;
	border-top:	 1px solid #DDD;
	margin:	 0 0 1em 0;
	overflow:	 auto;
}

fieldset legend {
	font-weight:	 bold;
	padding:	 0 2px 0 0;
}

legend.icon {
	padding-left:	 20px;
	background-image:	 none;
	background-position:	 left top;
	background-repeat:	 no-repeat;
}

fieldset dl {
	list-style:	 none;
	margin:	 0.5em 0 0 0;
}

fieldset dt {
	float:	 left;
	clear:	 both;
	width:	 10em;
	text-align:	 right;
	padding:	 0 1em 0 0;
	line-height:	 2em;
}

fieldset dd {
	float:	 left;
	line-height:	 2em;
}

label.error {
	color:	 #D00;
	font-weight:	 bold;
}
.submit {
	clear: both;
}
.submit input {
	width: 10em;
	margin-left: 14em;
}

input.error, select.error, textarea.error {
	border:	 2px solid #D00;
	background-color:	 #FFF0F0;
}
/* End Forms */
