/* Header */
#header {
	position: absolute;
	top: 0px;
	height: 4.9em;
	width: 100%;
	background:#FFFFFF url(../images/carpet.gif) scroll left bottom;
	text-align:left;
	border-bottom: 0.1em solid #787878;
	z-index: 10;
}

#menu {
	float: right;
	z-index: 10;
	position: relative;
}
#menu ul {
	font-size:0.8em;
	line-height:1.1em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-top:0.4em;
	padding:0em;
}
#menu li {
	float:left;
	margin:0em 1em 0em 0em;
}
#menu a {
	background:#8C8C8C url(../images/button_carpet.gif) repeat-x scroll left center;
	border-color:#808080;
	border-style:none solid;
	border-width:medium 0.1em;
	color:#E6FFCC;
	font-size: 1.2em;
	display:block;
	float:left;
	font-weight:bold;
	padding:0.7em 2em;
	text-decoration:none;
}
#menu a:hover {
	color:#000000;
	background-color:#555555;
	border-color:#555555;
}
#menu a {
	float:none;
}
#menu #current {
}
#menu #current a {
	color:#FFFFFF;
}

/* End Header */

/* Content Block */
#content {
	position:absolute;
	top:5em;
	bottom:0em;
	left:0em;
	right: 0em;
}
/* End Content Block */

/* Sidebar Block */
#sidebar {
	position:absolute;
	top:0em;
	bottom:2em;
	left:0em;
	width:9.9em;
	border-right: 0.1em solid;
}

#sidebar .channel { 
	background-image:url(../images/icons/bullet_arrow_down.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 1em;
}
#sidebar .toggleNames .channel {
	background-image:url(../images/icons/bullet_arrow_up.png);
}
/* End Sidebar Block */

/* Room Title Block */
#roomTitle {
	position:absolute;
	z-index: 10;
	top:0em;
	height: 1.2em;
	left:0em;
	right: 0em;
	overflow: hidden; 
	padding: 0.1em;
	background-image:url(../images/icons/bullet_arrow_down.png);
	background-position: right top;
	background-repeat: no-repeat;
	background-color: grey;
	color: white;
	font-size: 1.1em;
	z-index: 10;
}

#roomTitle.fullview {
	height: auto;
	background-image:url(../images/icons/bullet_arrow_up.png);
}

/* End Room Title Block */

/* Center / Core */
#core {
	position: absolute;
	top: 0em;
	bottom: 2em;
	left: 10em;
	right: 0em;
	overflow:auto;
}
/* End Center / Core */

/* Messages Block */
#messages {
	position: absolute;
	top: 1.9em;
	bottom: 2em;
	left: 0em;
	right: 0em;
	overflow:auto;	
}
#messages dl { 
	display: block;  
	border-bottom: 0.06em solid;
	min-height: 1.1em;
	overflow: auto;
	background: #FFFFFF;
}

#messages dt {
	float: left;
}
#messages dd { 
	float: left;
	width:84%; 
	padding-left: 1%;
}

#messages dt.timestamp { width: 5%; }
#messages dt.name { width: 10%; overflow: hidden;}
#messages .name:after { content: ': '; }

#messages dl.highlight {
	background-color:#FFFFCC;
} 
/* End Messages Block */

/* Logo */
#logo {
	position: absolute;
	height: 30em;
	bottom: 1.8em;
	right: 0em; 
	background-image: url(../images/agavi.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	width: 20em;
}
/* End Logo */

/* Footer */
#footer { 
	position: absolute; 
	height: 1.9em;
	bottom: 0em;
	right: 0em;
	display:block;
	width: 100%;
	border-top: 0.1em solid #787878;
	background:#FFFFFF url(../images/carpet.gif) scroll left bottom;
}
/* End Footer */

/* Forms */
form {
	padding: 1em;
}

fieldset {
	clear:	 both;
	border:	 none;
	border-top:	 1px solid #DDD;
	margin:	 0 0 1em 0;
	overflow:	 auto;
}

fieldset legend {
	font-weight:	 bold;
	padding:	 0 2px 0 0;
}

legend.icon {
	padding-left:	 20px;
	background-image:	 none;
	background-position:	 left top;
	background-repeat:	 no-repeat;
}

fieldset dl {
	list-style:	 none;
	margin:	 0.5em 0 0 0;
}

fieldset dt {
	float:	 left;
	clear:	 both;
	width:	 10em;
	text-align:	 right;
	padding:	 0 1em 0 0;
	line-height:	 2em;
}

fieldset dd {
	float:	 left;
	line-height:	 2em;
}

label.error {
	color:	 #D00;
	font-weight:	 bold;
}
.submit {
	clear: both;
}
.submit input {
	width: 10em;
	margin-left: 14em;
}

input.error, select.error, textarea.error {
	border:	 2px solid #D00;
	background-color:	 #FFF0F0;
}
/* End Forms */
